/** Login page **/
.authForm__title {
    margin: 24px;
}
.authForm__title h1 {
    font-weight: 600;
    font-size: 38px;
}
.authForm__label {
    color: var(--v-primary-base);
    opacity: .4;
    margin-bottom: 6px;
    display: block;
}