/** Login page **/
.authForm__label {
    color: var(--v-primary-base);
    opacity: .4;
    margin-bottom: 6px;
    display: block;
}

.v-item-group.v-bottom-navigation {
    box-shadow: none !important;
}