/**
* All variables to override Vuetify's default
* or declare any new to be used in overrides.scss or classes.scss
*/
@use "vuetify" with (
    $utilities: false,
    $color-pack: false,
);

$rounded: (
    "medium": 16px
);

$body-font-family: "Poppins", sans-serif !default;

.v-btn {
    text-transform: initial;
    letter-spacing: 0;
}

.v-btn--active i {
    color: rgb(var(--v-theme-secondary)) !important;
}
.rounded-medium {
    border-radius: 16px;
}