.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8px;
    height: 100vh;
}
.app__header {
    height: 100px;
}
.app__main {
    height: 100%;
    flex: 1 1 auto;
}
.app__navigation {
    height: 60px;
}